<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>About</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- css files -->
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- //css files -->
</head>

<body>
	<!-- banner -->
	<div class="banner-main">
		<div class="banner-2">
			
			<!--header-->
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<a href="/index"><img src="../static/images/weilab_logo.png"  style="height: 70px;float: left; margin-right:20px"/></a>
						</div>
						<!--navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/home">Home</a></li>
								<li><a href="/publications">Publications</a></li>
								<li><a href="/collaborators">Collaborators</a></li>
								<li><a href="/news">News</a></li>
								<!--li><a href="/server">Servers</a></li-->
								<li><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
									<ul class="dropdown-menu"  >
										<li><a href="/currentmember" class="active">Current Members</a></li>
										<li><a href="/alumni">Alumni</a></li>
										<li><a href="/gallery">Gallery</a></li>
									</ul>
								</li>
								<!--
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>
									</ul>
								</li>
								-->
								<li><a href="/contact">Contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
					</ul>
					<!-- cd-header-buttons -->
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Click enter after typing...">
					</form>
				</div>
			</div>
			<!--//header-->
	</div>
	</div>
	<!-- //banner -->							
<!-- about -->
	<div class="about">
		<div class="container">
			<h3 class="w3l-titles">Principal Investigator</h3>
			<div class="col-md-6 about-w3right">
				<img src="../static/images/g6.jpg" class="img-responsive" alt="" />
			</div>
			<div class="col-md-6 about-w3left">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
								    aria-controls="collapseOne">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Personal Profile
							</a>
							</h5>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
								Leyi Wei received the B.Sc. degree in Computing Mathematics from Xiamen University in 2010, the M.E. and Ph.D. degrees in Computer Science and Technology from Xiamen University in 2013 and in 2016, respectively. During 2016 - 2019, he worked as an Assistant Professor at College of Intelligence and Computing, Tianjin University. He also worked as a project researcher in the lab of Functional analysis in silico, Institute of Medical Science, University of Tokyo during 2018 - 2019. Since 2020.01 till now, he is a Professor at School of Software, Shandong University. 
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
								    aria-controls="collapseTwo">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Courses
							</a>
							</h5>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
								Machine Learning
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
								    aria-controls="collapseThree">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Honors & Awards
							</a>
							</h5>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
								<p>•	ACM SIGBIO Rising Star </p>
								<p>•	Materials Scientist Award (<i>by MDPI materials</i>)</p>
								<p>•	World’s Top 2% Scientists (<i>Released by Stanford University, 2020</i>)</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h5 class="panel-title asd">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true"
								    aria-controls="collapseFour">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Academic activities
							</a>
							</h5>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
							<div class="panel-body panel_text">
								<p><b>Associate Editor:</b> 
									<p style="margin-left: 30px;"><b>• </b><a href = "https://www.frontiersin.	org/journals/genetics#editorial-board">Frontiers in Genetics</a> (IF2020=3.258)</p>
									<P style="margin-left: 30px;"><b>• </b><a href = "https://www.frontiersin.org/journals/bioinformatics#editorial-board">Frontiers in Bioinformatics</a></P>
<p><b>Editorial Board Member for:</b></p>
<p style="margin-left: 30px;"><b>• </b><a href="https://bmcgenomics.biomedcentral.com/about/editorial-board">BMC Genomics</a> (IF2020=3.969)</p>
<p style="margin-left: 30px;"><b>• </b><a href="https://benthamscience.com/editorial-policies-main.php">Combinatorial Chemistry & High Throughput Screening</a> (IF2020=1.339)</p>
<p style="margin-left: 30px;"><b>• </b>Current Bioinformatics (IF2020=3.543)</p>
<p style="margin-left: 30px;"><b>• </b><a href = "https://www.fbscience.com/Landmark/editorial-board">Frontiers in Bioscience-Landmark</a> (IF2020=4.009)</p>
<p style="margin-left: 30px;"><b>• </b><a href = "https://www.mdpi.com/editors">Symmetry </a>(IF2020=2.713)</p>
<p style="margin-left: 30px;"><b>• </b>Current Proteomics (IF2020=0.837)</p>
<p style="margin-left: 30px;"><b>• </b><a href="https://www.insc.in/home/editorial_board.php">Interdisciplinary Sciences: Computational Life Sciences</a> (IF2020=1.591)</p>
<p style="margin-left: 30px;"><b>• </b><a href="https://www.mdpi.com/journal/applsci">Applied Sciences</a> (IF2020=2.679)</p>


<p><b>PC members for:</b> 
	<p style="margin-left: 30px;"><b>• BIBM</b> (International Conference on Bioinformatics & Biomedicine)</p>
	<p style="margin-left: 30px;"><b>• ISBRA</b> (International Symposium on Bioinformatics Research and Applications)</p>
</p>

							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //about -->

<hr>

<!-- team -->
<div class="team">
	<div class="container">
		<h3 class="w3l-titles">Master Students</h3>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/dcc~1.jpg" class="initImg containImg" alt="" />
					<h3>Chichi Dai</h3>
					<p>2019-now</p>
					<p>chichi_dai970127@tju.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/15~1.jpg" class="initImg containImg" alt="" />
					<h3>Ruheng Wang</h3>
					<p>2020-now</p>
					<p>wangruheng@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/9~1.jpg" class="initImg containImg" alt="" />
					<h3>Haoqing Yu</h3>
					<p>2020-now</p>
					<p>yhq@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1" href = "http://chr2117216003.github.io/about/">
				<div align="center">
					<img src="../static/images/1/zx~1.jpg" class="initImg containImg" alt="" />
					<h3>Xin Zhang</h3>
					<p>2020-now</p>
					<p>xinzhanggg@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="teamgrids">
			<div class="col-md-4 teamgrid1">
				<div align="center">
					<img src="../static/images/1/20~1.jpg" class="initImg containImg" alt="" />
					<h3>Yangfan Feng</h3>
					<p>2020-now</p>
					<p>1034479136@qq.com</p>
				</div>
			</div>
			<div class="col-md-4 teamgrid1">
				<div align="center">
					<img src="../static/images/1/s~1.jpg" class="initImg containImg" alt="" />
					<h3>Saisai Teng</h3>
					<p>2020-now</p>
					<p>202015209@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-4 teamgrid1">
				<div align="center">
					<img src="../static/images/1/ts~1.jpg" class="initImg containImg" alt="" />
					<h3>Tianshuo Wang</h3>
					<p>2020-now</p>
					<p>wang_ts@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/2~1.jpg" class="initImg containImg" alt="" />
					<h3>Fengsheng Wang</h3>
					<p>2020-now</p>
					<p>wangfengsheng@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/ycl~1.jpg" class="initImg containImg" alt="" />
					<h3><a href = "https://challis-yin.github.io/">Chenglin Yin</a></h3>
					<p>2021-now</p>
					<p>shyinruichao@163.com</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/wy~1.jpg" class="initImg containImg" alt="" />
					<h3>Yu Wang</h3>
					<p>2020-now</p>
					<p>as1003208735@foxmail.com</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1" href = "http://chr2117216003.github.io/about/">
				<div align="center">
					<img src="../static/images/1/12~1.jpg" class="initImg containImg" alt="" />
					<h3>Chao Pang</h3>
					<p>2020-now</p>
					<p>pangchao@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
	</div>
</div>
<!-- //team -->


<!-- team -->
<div class="team">
	<div class="container">
		<h3 class="w3l-titles">Undergraduate Students</h3>
		
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/hwj~1.jpg" class="initImg containImg" alt="" />
					<h3>Wenjia He</h3>
					<p>2020-now</p>
					<p>hewenjia@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/1~1.jpg" class="initImg containImg" alt="" />
					<h3>Chaoyi Chen</h3>
					<p>2021-now</p>
					<p>1669188215@qq.com</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/3~1.jpg" class="initImg containImg" alt="" />
					<h3>Jiuxin Feng</h3>
					<p>2021-now</p>
					<p>1264512262@qq.com</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1" href = "http://chr2117216003.github.io/about/">
				<div align="center">
					<img src="../static/images/1/4~1.jpg" class="initImg containImg" alt="" />
					<h3>Haoyang Chen</h3>
					<p>2020-now</p>
					<p>931088287@qq.com</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/6~1.jpg" class="initImg containImg" alt="" />
					<h3>Yijing Sun</h3>
					<p>2020-now</p>
					<p>1597100645@qq.com</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/5~1.jpg" class="initImg containImg" alt="" />
					<h3><a href = "https://jiangyi01.github.io">Yi Jiang</a></h3>
					<p>2021-now</p>
					<p>jiangyisoftware@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/27.jpg" class="initImg containImg" alt="" />
					<h3>YITAO QIU</h3>
					<p>2020-now</p>
					<p>2604193207@qq.com</p>
				</div>
			</div>

			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/8.jpg" class="initImg containImg" alt="" />
					<h3>Zeyu Zhang</h3>
					<p>2020-now</p>
					<p>wfzhangzeyu@163.com</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/10~1.jpg" class="initImg containImg" alt="" />
					<h3>Zhongshen Li</h3>
					<p>2020-now</p>
					<p>lizhongshen@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/11~1.jpg" class="initImg containImg" alt="" />
					<h3><a href = "https://yuying07.github.io/">Yingying Yu</a></h3>
					<p>2020-now</p>
					<p>201800301068@mail.sdu.edu</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/14~1.jpg" class="initImg containImg" alt="" />
					<h3>Wentao Long</h3>
					<p>2020-now</p>
					<p>longwt@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/16~1.jpg" class="initImg containImg" alt="" />
					<h3>Jiaqi Liao</h3>
					<p>2021-now</p>
					<p>2596393165@qq.com</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="teamgrids">
			<!--div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/17~1.jpg" class="initImg containImg" alt="" />
					<h3>Xiao Cao</h3>
					<p>2020-now</p>
					<p>shao_cao@foxmail.com</p>
				</div>
			</div-->
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/19~1.jpg" class="initImg containImg" alt="" />
					<h3>Junru Jin</h3>
					<p>2020-now</p>
					<p>954839106@qq.com</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/21~1.jpg" class="initImg containImg" alt="" />
					<h3>Lin Ding</h3>
					<p>2020-now</p>
					<p>l1069883391@qq.com</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/22~1.jpg" class="initImg containImg" alt="" />
					<h3>Yifei Zhu</h3>
					<p>2021-now</p>
					<p>zhuyifei@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="teamgrids">
				<div class="col-md-3 teamgrid1">
					<div align="center">
						<img src="../static/images/1/32.jpg" class="initImg containImg" alt="" />
						<h3>Jianbo Qiao</h3>
						<p>2021-now</p>
						<p>835778964@qq.com</p>
					</div>
					<div class="clearfix"></div>
				</div>
			
		</div>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/23~1.jpg" class="initImg containImg" alt="" />
					<h3>Jiaojiao Zhao</h3>
					<p>2020-now</p>
					<p>zhaojiaojiao@mail.sdu.edu</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/24.jpg" class="initImg containImg" alt="" />
					<h3>XUETONG YANG</h3>
					<p>2021-now</p>
					<p>2672055985@qq.com</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/25.jpg" class="initImg containImg" alt="" />
					<h3>JINGJIE ZHANG</h3>
					<p>2021-now</p>
					<p>zhangjingjie@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/26.jpg" class="initImg containImg" alt="" />
					<h3>JIASHUO ZHANG</h3>
					<p>2021-now</p>
					<p>zhangjiashuo@mail.sdu.edu.cn</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/28.jpg" class="initImg containImg" alt="" />
					<h3>SHIYU CHEN</h3>
					<p>2021-now</p>
					<p>545711@qq.com</p>
				</div>
			</div>

		</div>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/29.jpg" class="initImg containImg" alt="" />
					<h3>HAOQI WANG</h3>
					<p>2021-now</p>
					<p>2085768868@qq.com</p>
				</div>
			</div>
		</div>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/30.jpg" class="initImg containImg" alt="" />
					<h3>YIQUN NIU</h3>
					<p>2021-now</p>
					<p>294921990@qq.com</p>
				</div>
			</div>
		</div>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/77510026F0442420AF8B1C7916D4CCF6.JPG" class="initImg containImg" alt="" />
					<h3>Jiaxin Liu</h3>
					<p>2021-now</p>
					<p>2323980921@qq.com</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/31.jpg" class="initImg containImg" alt="" />
					<h3>Tianmei Liu</h3>
					<p>2021-now</p>
					<p>201900303005@mail.sdu.edu.cn</p>
				</div>
			</div>
			
		</div>

		<div class="teamgrids">
			<div class="col-md-3 teamgrid1">
				<div align="center">
					<img src="../static/images/1/33.png" class="initImg containImg" alt="" />
					<h3>Yubing Guo</h3>
					<p>2021-now</p>
					<p>2805483117@qq.com</p>
				</div>
			</div>
			
		</div>
		
			
		</div>
	</div>
	
</div>
<!-- //team -->



<!-- footer -->
<div class="footer">
	<div class="container">
			
		<div class="col-md-2 footer-grids">
			<h3>Global Visitors</h3>
			<script type="text/javascript" src="//rf.revolvermaps.com/0/0/1.js?i=5ft2zulcgk2&amp;s=220&amp;m=0&amp;v=false&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script>
		</div>
			<div class="col-md-4 footer-grids">
				<h3>Recruitment</h3>
				<p>I'm looking for talented and motivated undergraduate and graduate students. If you are interested in Machine Learning, Deep Learning, and Bioinformatics, please feel free to contact with me!</p>
			</div> 
			<div class="col-md-3 footer-grids"> 
				<h3>Contact Us</h3>
				<p> Room 404,Joint SDU-NTU Centre for Artificial Intelligence Research (C-FAIR), Shandong University, Jinan, Shandong, China<br>
				<span>Post code：250101</span>
				</p>
				<p ><img src="../static/images/logo/email.png"></p>
			</div>
			<div class="clearfix"> </div> 
		</div>
	</div>
	<!-- footer -->
	<div class="copyright">
		<div class="container">
			<p>WeiLab	2021 by <a href="https://challis-yin.github.io/">Yin Chenglin</a></p>
		</div>
	</div>
	<!-- //footer -->
<!-- bootstrap-pop-up -->
					<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
										Improve
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								</div>
								<section>
									<div class="modal-body">
										<img src="images/g3.jpg" alt=" " class="img-responsive" />
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!-- //bootstrap-pop-up -->
	<!-- js-scripts -->
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!-- smooth scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- //smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	<!--search jQuery-->
	<script src="../static/js/main.js"></script>
	<!--//search jQuery-->
	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->
	<!-- js-scripts -->
</body>

</html>