<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Alumni</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- css files -->
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- //css files -->
</head>

<body>
	<!-- banner -->
	<div class="banner-main">
		<div class="banner-2">
			
			<!--header-->
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<h1><a href="/index">WeiLab</a></h1>
						</div>
						<!--navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/home">Home</a></li>
								<li><a href="/publications">Publications</a></li>
								<li><a href="/news">News</a></li>
								<li><a href="/server">Servers</a></li>
								<li><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
									<ul class="dropdown-menu"  >
										<li><a href="/currentmember">Current Members</a></li>
										<li><a href="/alumni" class="active">Alumni</a></li>
										<li><a href="/gallery">Gallery</a></li>
										
									</ul>
								</li>
								<!--
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>
									</ul>
								</li>
								-->
								<li><a href="/contact">Contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
					</ul>
					<!-- cd-header-buttons -->
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Click enter after typing...">
					</form>
				</div>
			</div>
			<!--//header-->
	</div>
	</div>
	<!-- //banner -->							


<!-- team -->
<div class="team">
	<div class="container">
		<h3 class="w3l-titles">Alumni</h3>
		<div class="teamgrids">
			<div class="col-md-4 teamgrid1">
				<div  align="center">
					<img src="../static/images/2/3~1.jpg" class="initImg containImg" alt="" />
					<h3>陈达生</h3>
					<p>2017-2020 硕士毕业</p>
					<p>中国电信研究院</p>
				</div>
			</div>
			<div class="col-md-4 teamgrid1">
				<div align="center">
					<img src="../static/images/2/2~1.jpg" class="initImg containImg" alt="" />
					<h3>胡洁</h3>
					<p>2017-2020 目前读博</p>
					<p>南京大学环境学院</p>
				</div>
			</div>
			<div class="col-md-4 teamgrid1" href = "http://chr2117216003.github.io/about/">
				<div  align="center">
					<img src="../static/images/2/1~1.jpg" class="initImg containImg" alt="" />
					<h3><a href = "http://chr2117216003.github.io/about/">陈煌榕</a></h3>
					<p>2016-2019 硕士毕业</p>
					<p>北京红棉小冰科技有限公司</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="teamgrids">
			<div class="col-md-6 teamgrid1">
				<div  align="center">
					<img src="../static/images/2/4.jpg" class="initImg containImg" alt="" />
					<h3>栾莎莎</h3>
					<p>2017-2020 硕士毕业</p>
					<p>华为</p>
				</div>
			</div>
			<div class="col-md-6 teamgrid1">
				<div align="center">
					<img src="../static/images/2/5.png" class="initImg containImg" alt="" />
					<h3>刘园</h3>
					<p>2017-2020</p>
					<p>京东科技控股股份有限公司</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>



<!-- footer -->
<div class="footer">
		<div class="container">
			<div class="col-md-5 footer-grids">
				<h3>Subscribe</h3>
				<p>Enter your email address so that we can send you our academic news in a timely manner</p>
				<form action="#" method="post">
					<input type="email" name="email" placeholder="Enter your email" required="">
					<input type="submit" value="">
				</form> 
			</div>
			<div class="col-md-4 footer-grids">
				<h3>Recruitment</h3>
				<p>I'm looking for talented and motivated undergraduate and graduate students. If you are interested in Machine Learning, Deep Learning, and Bioinformatics, please feel free to contact with me!</p>
			</div> 
			<div class="col-md-3 footer-grids"> 
				<h3>Contact Us</h3>
				<p> Room 105, Adminstrator Bld., Shandong University, Jinan, Shandong, China<br>
				<span>Post code：250101</span>
				</p>
			</div>
			<div class="clearfix"> </div> 
		</div>
	</div>
	<!-- footer -->
	<div class="copyright">
		<div class="container">
			<p>WeiLab	2021 by <a href="https://challis-yin.github.io/">Yin Chenglin</a></p>
		</div>
	</div>
	<!-- //footer -->
<!-- bootstrap-pop-up -->
					<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
										Improve
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								</div>
								<section>
									<div class="modal-body">
										<img src="images/g3.jpg" alt=" " class="img-responsive" />
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!-- //bootstrap-pop-up -->
	<!-- js-scripts -->
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!-- smooth scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- //smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	<!--search jQuery-->
	<script src="../static/js/main.js"></script>
	<!--//search jQuery-->
	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->
	<!-- js-scripts -->
</body>

</html>