<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>WeiLab</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/style1.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
	<!-- css files -->
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- //css files -->
	<style>
		@media screen and (max-width: 800px) {
    	.about .container .in-block {
        	
			display: block;
			width: auto;
			height: auto;
    }
}
	</style>
</head>

<body>
	<!-- banner -->
	<div class="banner-main">
		<div class="banner">
			<div class="agile_dot_info one">
			<!--header-->
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<h1><a href="/index">WeiLab</a></h1>
						</div>
						<!--navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/home"  class="active">Home</a></li>
								<li><a href="/publications">Publications</a></li>
								<li><a href="/collaborators">Collaborators</a></li>
								<li><a href="/news">News</a></li>
								<li><a href="/server">Servers</a></li>
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
									<ul class="dropdown-menu"  >
										<li><a href="/currentmember">Current Members</a></li>
										<li><a href="/alumni">Alumni</a></li>
										<li><a href="/gallery">Gallery</a></li>
									</ul>
								</li>
								<!--
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>
									</ul>
								</li>
								-->
								<li><a href="/contact" >Contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
					</ul>
					<!-- cd-header-buttons -->
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Click enter after typing...">
					</form>
				</div>
			</div>
			<!--//header-->
			<div class="w3_banner_info">
				<div class="container">
					<div class="flexslider-info">
						<section class="slider">
							<div class="flexslider">
								<ul class="slides">
									<li>
									<div class="w3_banner_info_grid">
										<h2>Welcome to WeiLab</h2>
										<p>The main work of our Lab is to develop artificial intelligence algorithms and their applications in Bioinformatics. </p>
										<ul>
											<li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal1">Learn More</a></li>
											<li><a href="/contact" class="w3l_contact">Contact Us</a></li>
										</ul>
									</div>
									</li>
									<li>
										<div class="w3_banner_info_grid">
											<h2>WELCOME TO WeiLab</h2>
										<p>We are looking for talented and motivated undergraduate and graduate students. If you are interested in Machine Learning, Deep Learning, and Bioinformatics, please feel free to contact with me!</p>
										<ul>
											<li><a href="research.html" class="w3ls_more" data-toggle="modal" data-target="#myModal1">Learn More</a></li>
											<li><a href="contact.html" class="w3l_contact">Contact Us</a></li>
										</ul>
										</div>
									</li>
								</ul>
							</div>
						</section>
					</div>
				</div>
		</div>
		</div>
	</div>
	</div>
	<!-- //banner -->
								
	<!-- team -->
	<!-- services -->

	<div class="services">
		<h3 class="w3l-titles">Research interests</h3>
		<div class="container">
			<div class="d-flex">
				<div class="about1"> 
					<ul class="about-list">
						<li>
							<span class="fa fa-newspaper-o" aria-hidden="true"></span>
							<div class="in-block">
								<h5>Peptide Drug discovery</h5>
								<p>Our lab aims to developing an automated computational pipeline for peptide drug design and discovery, which involves bioactive peptide generation, prediction, and functional analysis (such as peptide toxicity).</p>
							</div>
						</li>
						<li>
							<div style="height:2px">
							</div>
						</li>
						<li>
						<span class="fa fa-pencil-square-o" aria-hidden="true"></span>
							<div class="in-block">
								<h5>Epigenomic data analysis </h5>
								<p>Our lab focuses on developing computational methods to accurately annotate epigenetic modifications in whole-genome scale, and study their functions in gene regulatory network.</p>
							</div>
						</li>
						<li>
							<div style="height:2px">
							</div>
						</li>
						<li>
						<span class="fa fa-area-chart" aria-hidden="true"></span>
							<div class="in-block">
								<h5>Developing machine learning algorithms</h5>
								<p>Our lab also focuses on the development of generic machine learning algorithms and applied them for analyzing biological sequence data and imaging data. We particularly interest in designing new representation learning architectures to automatically learn and extract the functional patterns underlying different data. </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>

	<!-- //services -->

	<div class="about">
	<h3 class="w3l-titles">News</h3>
		<div class="container">
			<div class="d-flex">
				<div class="about1"> 
					<ul class="about-list">
						<li>
							<div class="in-block">
								<p><b> [Oct-25-2021] Prof. Wei </b> was appointed as the Editorial Board Member of <b>BMC Genomics</b>, a well-known journal in Bioinformatics! </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Oct-17-2021] </b>Congrats!<b> Prof. Wei</b> received <b>Materials Scientist Award</b> by MDPI materials! </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-22-2021] </b>Our work <b>"iDNA-ABT：advanced deep learning model for detecting DNA methylation with adaptive features and transductive information maximization.
								" </b>has been accepted for publication on <b>Bioinformatics</b>. </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-16-2021] </b><b>Prof. Wei</b> was appointed as<b> the Editorial Board Member </b> with <b ><a href="https://www.mdpi.com/journal/applsci">Applied Sciences</a>  </b>.
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-16-2021] </b>Yiqun Niu, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						
						
						<li><a href="/news" class="w3ls_more" data-toggle="modal" >Learn More</a></li>
					</ul>
				</div>
			</div>
			 
			
			
			
			
		</div>
	</div>
<!-- footer -->
<div class="footer">
	
		<div class="container">
			
			
			<div class="col-md-2 footer-grids">
				<h3>Global Visitors</h3>
				<script type="text/javascript" src="//rf.revolvermaps.com/0/0/1.js?i=5ft2zulcgk2&amp;s=220&amp;m=0&amp;v=false&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script>
				 
			</div>
			<div class="col-md-1 footer-grids">
				<h3>Recruitment</h3>
				<p>I'm looking for talented and motivated undergraduate and graduate students. If you are interested in Machine Learning, Deep Learning, and Bioinformatics, please feel free to contact with me!</p>
			</div> 
			<div class="col-md-3 footer-grids"> 
				<h3>Contact Us</h3>
				<p> Room 404,Joint SDU-NTU Centre for Artificial Intelligence Research (C-FAIR), Shandong University, Jinan, Shandong, China<br>
					<span>Post code：250101</span>
					</p>
					<p ><img src="../static/images/logo/email.png"></p>
			</div>
			
			
			<div class="clearfix"> </div> 
		</div>
	</div>
	<!-- footer -->
	<div class="copyright">
		<div class="container">
			<p>WeiLab	2021 by <a href="https://challis-yin.github.io/">Yin Chenglin</a></p>
		</div>
	</div>
	<!-- //footer -->
<!-- bootstrap-pop-up -->
					<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
										WeiLab
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								</div>
								<section>
									<div class="modal-body">
										<img src="../static/images/g3.jpg" alt=" " class="img-responsive mid" />
										<p>网站提供实验室精简信息，如最近发表的论文、研究进展，如实验室成员展示以及相关活动的照片。可以通过上方的二维码了解更多的WeiLab公众号的学术动态，不会有人没有关注智能生信叭😱</p>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!-- //bootstrap-pop-up -->
	<!-- js-scripts -->
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!--Start-slider-script-->
	<script defer src="../static/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->
<script src="../static/js/responsiveslides.min.js"></script>
						
			<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:false,
									nav:true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>

	<!-- smooth scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- //smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->

	<!--search jQuery-->
	<script src="../static/js/main.js"></script>
	<!--//search jQuery-->
	<!-- stats -->
	<script src="../static/js/waypoints.min.js"></script>
	<script src="../static/js/counterup.min.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$('.counter').counterUp({
				delay: 100,
				time: 1000
			});
		});
	</script>
	<!-- stats -->
	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->
	
	<!-- js-scripts -->


</body>

</html>