<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>News</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- css files -->
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- //css files -->
</head>

<body>
	<!-- banner -->
	<div class="banner-main">
		<div class="banner-2">
			
			<!--header-->
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<h1><a href="/index">WeiLab</a></h1>
						</div>
						<!--navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/home">Home</a></li>
								<li><a href="/publications">Publications</a></li>
								<li><a href="/collaborators">Collaborators</a></li>
								<li><a href="/news"  class="active">News</a></li>
								<li><a href="server.html">Servers</a></li>
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
									<ul class="dropdown-menu"  >
										<li><a href="/currentmember">Current Members</a></li>
										<li><a href="/alumni">Alumni</a></li>
										<li><a href="/gallery">Gallery</a></li>
									</ul>
								</li>
								<!--
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>
									</ul>
								</li>
								-->
								<li><a href="/contact" >Contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
					</ul>
					<!-- cd-header-buttons -->
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Click enter after typing...">
					</form>
				</div>
			</div>
			<!--//header-->
	</div>
	</div>
	<!-- //banner -->							
<!-- about -->
	<div class="about">
	<h3 class="w3l-titles">News</h3>
		<div class="container">
			<div class="d-flex">
				<div class="about1"> 
					<ul class="about-list">
						<li>
							<div class="in-block">
								<p><b> [Oct-25-2021] Prof. Wei </b> was appointed as the Editorial Board Member of <b>BMC Genomics</b>, a well-known journal in Bioinformatics! </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Oct-17-2021] </b>Congrats!<b>Prof. Wei</b> received <b>Materials Scientist Award</b> by MDPI materials! </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-22-2021] </b>Our work <b>"iDNA-ABT：advanced deep learning model for detecting DNA methylation with adaptive features and transductive information maximization.
								" </b>has been accepted for publication on <b>Bioinformatics</b>. </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-16-2021] </b><b>Prof. Wei</b> was appointed as<b> the Editorial Board Member </b> with <b ><a href="https://www.mdpi.com/journal/applsci">Applied Sciences</a>  </b>.
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-16-2021] </b>Yiqun Niu, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-15-2021] </b>Shiyu Chen, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-15-2021] </b>Haoqi Wang, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-15-2021] </b><b>Prof. Wei</b> was appointed as<b> the Accociate Editor</b> with <b ><a href="https://www.frontiersin.org/journals/bioinformatics">Frontiers in Bioinformatics</a>  </b>.
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Aug-25-2021] </b>Congrats! <b>Prof. Wei</b> received <b> ACM SIGBIO Rising Star Award</b>!
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[July-29-2021] </b>Our work <b>"Learning embedding features based on multi-sense-scaled
					attention architecture to improve the predictive performance of anticancer peptides" </b>has been accepted for publication on <b>Bioinformatics</b>. </p>
							</div>
						</li>
						
						<li>
							<div class="in-block">
								<p><b>[Jul-20-2021] </b>Yuzhe Wang, undergraduate student from the School of Chemistry, SDU, has joined the lab as research assistant. 
								<b> Welcome! </b>.</p>
							</div>
						</li>
						
						<li>
							<div class="in-block">
								<p><b>[Mar-29-2021] </b>Our work <b>“PepFormer: End-to-End Transformer-Based Siamese Network to Predict and 
								Enhance Peptide Detectability Based on Sequence Only”</b> has been accepted for publication on <b>Analytical Chemistry</b>.</p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Mar-23-2021] </b>Mengjia Chen, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Mar-13-2021] </b>Yijing Sun, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Mar-8-2021] </b>Chaoyi Chen and Jiuxin Feng, 
								two undergraduate students from the School of Software, SDU, have joined the lab as undergraduate assistants. <b>Welcome</b>!</p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><B>[May-7-2021] </b>Our work <b>“PSSP-MVIRT: peptide secondary structure prediction based on a 
								multi-view deep learning architecture”</b> has been accepted for publication on <B>Briefings in Bioinformatics</B>.</p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Apr-24-2021] </b>Jiaqi Liao, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Apr-21-2021] </b>LinDing,Haoyang Chen, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Apr-8-2021] </b>Yi Jiang,Yifei Zhu, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Jan-28-2021] </b>Our work <b>“ATSE: a peptide toxicity predictor by exploiting structural and evolutionary 
								information based on graph neural network and attention mechanism”</b> has been accepted for publication on <b>Briefings in Bioinformatics</b>.</p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[October-30-2020] </b>Yingying Yu, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Oct-25-2020] </b>Yangfan Feng,Saisai Teng, master student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Oct-8-2020] </b>Yu Wang, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-29-2020] </b>Zeyu Zhang, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-26-2020] </b>Yibo Dong,Fengsheng Wang, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-24-2020] </b>Haoqing Yu, master student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-18-2020] </b>Tianshuo Wang, master student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-18-2020] </b>Zhongshen Li, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Sep-7-2020] </b>Wentao Long, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Jul-22-2020] </b>Xin Zhang, master student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[Jul-16-2020] </b>Chao Pang, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[July-8-2020] </b>Wenjia He, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[July-1-2020] </b>Xiao Cao, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[June-30-2020] </b>Hao Cheng, undergraduate student from the School of Software, SDU, 
								has joined the lab as research assistant. <b>Welcome!</b>  </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			 
			
			
			
			
		</div>
	</div>
	<!-- //about -->
	



<!-- footer -->
<div class="footer">
		<div class="container">
			<div class="col-md-5 footer-grids">
				<h3>Subscribe</h3>
				<p>Enter your email address so that we can send you our academic news in a timely manner</p>
				<form action="#" method="post">
					<input type="email" name="email" placeholder="Enter your email" required="">
					<input type="submit" value="">
				</form> 
			</div>
			<div class="col-md-4 footer-grids">
				<h3>Recruitment</h3>
				<p>I'm looking for talented and motivated undergraduate and graduate students. If you are interested in Machine Learning, Deep Learning, and Bioinformatics, please feel free to contact with me!</p>
			</div> 
			<div class="col-md-3 footer-grids"> 
				<h3>Contact Us</h3>
				<p> Room 404,Joint SDU-NTU Centre for Artificial Intelligence Research (C-FAIR), Shandong University, Jinan, Shandong, China<br>
					<span>Post code：250101</span>
					</p>
					<p ><img src="../static/images/logo/email.png"></p>
			</div>
			<div class="clearfix"> </div> 
		</div>
	</div>
	<!-- footer -->
	<div class="copyright">
		<div class="container">
			<p>WeiLab	2021 by <a href="https://challis-yin.github.io/">Yin Chenglin</a></p>
		</div>
	</div>
	<!-- //footer -->
<!-- bootstrap-pop-up -->
					<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
										Improve
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								</div>
								<section>
									<div class="modal-body">
										<img src="../static/images/g3.jpg" alt=" " class="img-responsive" />
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!-- //bootstrap-pop-up -->
	<!-- js-scripts -->
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!-- smooth scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- //smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	<!--search jQuery-->
	<script src="../static/js/main.js"></script>
	<!--//search jQuery-->
	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->
	<!-- js-scripts -->
</body>

</html>