<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Publications</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/style1.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- css files -->
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- //css files -->
	<style>
		@media screen and (max-width: 800px) {
    	.in-block {
        	
			display: block;
			width: auto;
			height: auto;
    }
}
	</style>
</head>

<body>
	<!-- banner -->
	<div class="banner-main">
		<div class="banner-2">
			
			<!--header-->
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<a href="/index"><img src="../static/images/weilab_logo.png"  style="height: 70px;float: left; margin-right:20px"/></a>
						</div>
						<!--navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/home">Home</a></li>
								<li><a href="/publications"  class="active">Publications</a></li>
								<li><a href="/collaborators">Collaborators</a></li>
								<li><a href="/news">News</a></li>
								<li><a href="/server">Servers</a></li>
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
									<ul class="dropdown-menu"  >
										<li><a href="/currentmember">Current Members</a></li>
										<li><a href="/alumni">Alumni</a></li>
										<li><a href="/gallery">Gallery</a></li>
									</ul>
								</li>
								<!--
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>
									</ul>
								</li>
								-->
								<li><a href="/contact" >Contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
					</ul>
					<!-- cd-header-buttons -->
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Click enter after typing...">
					</form>
				</div>
			</div>
			<!--//header-->
	</div>
	</div>
	<!-- //banner -->							
<!-- about -->
	<div class="about">
	<h3 class="w3l-titles">Selected Publications</h3>
	
		<div class="container">
			<div class="d-flex">
				<div class="about1"> 
				<p> <b># </b> These authors contributed equally to the paper as first authors</p>
                <p><b>* </b> To whom correspondence should be addressed</p>
				<hr>
					<h4>2021</h4>
					<ul class="about-list">
					<hr >
						<li>
							<div class="in-block">
								<p><b>[29] Multi-scale deep learning for the imbalanced multi-label protein subcellular localization prediction based on immunohistochemistry images</b></p>
								<p>Fengsheng Wang, <b>Leyi Wei*</b>.</p><p> Bioinformatics, 2022. DOI: 10.1093/bioinformatics/btac123. In press. </p>
							</div>
						</li>
						<li>
							<div class="in-block">
								<p><b>[28] ToxIBTL: prediction of peptide toxicity based on information bottleneck and transfer learning</b></p>
								<p>Lesong Wei, Xiucai Ye*, Tetsuya Sakurai, Zengchao Mu,<b> Leyi Wei*</b></p>
								<p>Bioinformatics, 2022. DOI: 10.1093/bioinformatics/btac006.</p>
							</div>
						</li>
					


						<hr >
						<li>
							<div class="in-block">
								<p><b>[27] Accelerating Bioactive Peptide Discovery via Mutual Information-based Meta-learning</b></p>
								<p>Wenjia He, Yi Jiang, Junru Jin, Zhongshen Li, Jiaojiao Zhao, Balachandran Manavalan, Ran Su, Xin Gao*,<b>Leyi Wei*</b>.</p><p> Briefings in Bioinformatics, 2021.  </p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[26] iDNA-ABT：advanced deep learning model for detecting DNA methylation with adaptive features and transductive information maximization</b></p>
								<p>Yingying Yu, Wenjia He, Junru Jin, Lizhen Cui, Rao Zeng*,<b>Leyi Wei*</b>.</p><p> Bioinformatics, 2021. DOI: 10.1093/bioinformatics/btab677. In press. </p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[25] Iterative feature representation algorithm to improve the predictive performance of N7-methylguanosine sites</b></p>
								<p>Chichi Dai, Pengmian Feng, Lizhen Cui, Ran Su*, Wei Chen*,  <b>Leyi Wei*</b>.</p><p> Briefings in Bioinformatics, 2021. DOI: 10.1093/bib/bbaa278. </p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[24] Protein subcellular localization based on deep image features and criterion learning strategy</b></p>
								<p>Ran Su*, Linlin He, Tianling Liu, Xiaofeng Liu*,  <b>Leyi Wei*</b>.</p><p> Briefings in Bioinformatics, 2021. DOI: 10.1093/bib/bbaa313.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[23] PSSP-MVIRT: peptide secondary structure prediction based on a multi-view deep learning architecture</b></p>
								<p>Xiao Cao, Wenjia He, Zitan Chen, Yifan Li, Kexin Wang, Hongbo Zhang, Lesong Wei, Lizhen Cui, Ran Su*, <b>Leyi Wei*</b>.</p><p> Briefings in Bioinformatics, 2021. DOI: 10.1093/bib/bbab203.</p>
							</div>
						</li>
						<hr >
						
						<li>
							<div class="in-block">
								<p><b>[22] Learning embedding features based on multi-sense-scaled attention architecture to improve the predictive performance of anticancer peptides</b></p>
								<p>Wenjia He,  Yu Wang,  Lizhen Cui,  Ran Su*,  <b>Leyi Wei*</b>.</p><p> Bioinformatics, 2021. DOI: 10.1093/bioinformatics/btab560. In press</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[21] ATSE: a peptide toxicity predictor by exploiting structural and evolutionary information based on graph neural network and attention mechanism.</b></p>
								<p>L Wei, X Ye*, Y Xue, T Sakurai*, <b>L Wei*</b>.</p><p>  Briefings in Bioinformatics, 2021.   DOI: 10.1093/bib/bbab041.  In press</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[20] Classification and gene selection of triple-negative breast cancer subtype embedding gene connectivity matrix in deep neural network.</b></p>
								<p>J Liu, R Su, J Zhang, <b>L Wei*</b>.  </p><p> Briefings in Bioinformatics, 2021.	DOI: 10.1093/bib/bbaa395.  In press</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[19] PepFormer: end-to-end Transformer-Based Siamese Network to Predict and Enhance Peptide Detectability Based on Sequence Only.</b></p>
								<p>Hao Cheng, Bing Rao, Lei Liu, Lizhen Cui, Guobao Xiao, Ran Su*, <b>Leyi Wei*</b>. </p><p>   Analytical Chemistry, 2021.   93(16):6481-6490</p>
							</div>
						</li>
						<ul class="nav nav-list"><li class="divider"></li></ul>
					</ul>
					
				</div>
			</div>
			<div class="d-flex">
				<div class="about1"> 
					<h4>2020</h4>
					<ul class="about-list">
					<hr >
						<li>
							<div class="in-block">
								<p><b>[18] Identifying enhancer–promoter interactions with neural network based on pre-trained DNA vectors and attention mechanism.</b></p>
								<p>Zengyan Hong, Xiangxiang Zeng*, <b>Leyi Wei*</b>, Xiangrong Liu*. </p><p>   Bioinformatics,  2020.  36(4): 1037-1043.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[17] Computational prediction and interpretation of cell-specific replication origin sites from multiple eukaryotes by exploiting stacking framework</b></p>
								<p><b>Leyi Wei*</b>, Wenjia He, Adeel Malik, Ran Su, Lizhen Cui, Balachandran Manavalan*.</p><p>  Briefings in Bioinformatics, 2020. DOI:10.1093/bib/bbaa275. </p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[16] EP3: an ensemble predictor that accurately identifies type III secreted effectors.</b></p>
								<p>Jing Li, <b>Leyi Wei</b>, Fei Guo*, Quan Zou*.</p><p>    Briefings in bioinformatics,  2020.  22(2), 1918-1928.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[15] Identification of expression signatures for non-small-cell lung carcinoma subtype classification.</b></p>
								<p>Ran Su*, Jiahang Zhang, Xiaofeng Liu*, <b>Leyi Wei*</b>. </p><p>    Bioinformatics,  2020.  36(2), 339-346.</p>
							</div>
						</li>
						<ul class="nav nav-list"><li class="divider"></li></ul>
					</ul>
				</div>
			</div>
			<div class="d-flex">
				<div class="about1"> 
					<h4>2019</h4>
					<ul class="about-list">
						<li>
							<div class="in-block">
								<p><b>[14] Predicting drug-induced hepatotoxicity based on biological feature maps and diverse classification strategies.</b></p>
								<p>Ran Su*, Huichen Wu, Xinyi Liu, <b>Leyi Wei*</b>.</p><p>    Briefings in bioinformatics,  2019. 22(1), 428-437.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[13] Iterative feature representations improve N4-methylcytosine site prediction.</b></p>
								<p><b>Leyi Wei</b>, Ran Su, Shasha Luan, Zhijun Liao, Balachandran Manavalan*, Quan Zou*, Xiaolong Shi*. </p>
								<p>   Bioinformatics, 2019.  35(23), 4930-4937.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[12] ACPred-Fuse: fusing multi-view information improves the prediction of anticancer peptides.</b></p>
								<p>Bing Rao, Chen Zhou, Guoying Zhang*, Ran Su*, <b>Leyi Wei*</b>. </p>
								<p>   Briefings in bioinformatics, 2019. 21(5), 1846-1855.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[11] PEPred-Suite: improved and robust prediction of therapeutic peptides using adaptive feature representation learning.</b></p>
								<p><b>Leyi Wei</b>, Chen Zhou, Ran Su*, Quan Zou*. </p><p>   Bioinformatics, 2019. 35(21), 4272-4280.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[10] PRISMOID: a comprehensive 3D structure database for post-translational modifications and mutations with functional impact.</b></p>
								<p>Fuyi Li*, Cunshuo Fan, Tatiana T Marquez-Lago, André Leier, Jerico Revote, Cangzhi Jia, Yan Zhu, A Ian Smith, Geoffrey I Webb, Quanzhong Liu*, 
								<b>Leyi Wei*</b>, Jian Li, Jiangning Song*. </p><p>   Briefings in bioinformatics, 2019. 21(3), 1069-1079.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[9] Meta-GDBP: a high-level stacked regression model to improve anticancer drug response prediction.</b></p>
								<p>Ran Su, Xinyi Liu, Guobao Xiao*, <b>Leyi Wei*</b>. </p><p>   Briefings in bioinformatics, 2019. 21(3), 996-1005.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[8] MinE-RFE: determine the optimal subset from RFE by minimizing the subset-accuracy–defined energy.</b></p>
								<p>Ran Su, Xinyi Liu, <b>Leyi Wei*</b>. </p><p>   Briefings in bioinformatics, 2019.  21(2), 687-698.</p>
							</div>
						</li>
						<ul class="nav nav-list"><li class="divider"></li></ul>
					</ul>
				</div>
			</div>
			
			<div class="d-flex">
				<div class="about1"> 
					<h4>2018</h4>
					<hr >
					<ul class="about-list">
						<li>
							<div class="in-block">
								<p><b>[7] mAHTPred: a sequence-based meta predictor for improving the prediction of antihypertensive peptides using effective feature representation.</b></p>
								<p>B. Manavalan, S. Basith, T.H. Shin, <b>Leyi Wei*</b>, G. Lee*. </p><p>  Bioinformatics, 2018. 35(16), 2757-2765.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[6] Empirical comparison and analysis of web-based cell-penetrating peptide prediction tools.</b></p>
								<p>Ran Su, Jie Hu, Quan Zou, Balachandran Manavalana*,  <b>Leyi Wei*</b>. </p><p>  Briefings in Bioinformatics, 2018. 35(16), 2757-2765.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[5] Comparative analysis and prediction of quorum-sensing peptides using feature representation learning and machine learning algorithms.</b></p>
								<p><b>Leyi Wei</b>, Jie Hu, Fuyi Li, Jiangning Song*, Ran Su*, and Quan Zou*. </p><p>   Briefings in bioinformatics, 2018. 21(1), 106-119.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[4] Exploring sequence-based features for the improved prediction of DNA N4-methylcytosine sites in multiple species.</b></p>
								<p><b>Leyi Wei</b>, Shasha Luan, Luis Augusto Eijy Nagai, Ran Su*, and Quan Zou*.</p><p>  Bioinformatics, 2018.  35(8), 1326-1333.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[3] CPPred-FL: a sequence-based predictor for large-scale identification of cell-penetrating peptides by feature representation learning.</b></p>
								<p>Xiaoli Qiang, Chen Zhou, Xiucai Ye, Pufeng Du, Ran Su*, and <b>Leyi Wei*</b>. </p><p>   Briefings in bioinformatics, 2018. 21(1), 11-23.</p>
							</div>
						</li>
						<hr >
						<li>
							<div class="in-block">
								<p><b>[2] ACPred-FL: a sequence-based predictor using effective feature representation to improve the prediction of anti-cancer peptides.</b></p>
								<p><b>Leyi Wei*</b>, Chen Zhou, Huangrong Chen, Jiangning Song*, and Ran Su*. </p><p>  Bioinformatics, 2018. 34(23), 4007-4016.</p>
							</div>
						</li>
						<ul class="nav nav-list"><li class="divider"></li></ul>
					</ul>
				</div>
			</div>
			
			
			<div class="d-flex">
				<div class="about1"> 
					<h4>2017</h4>
					<ul class="about-list">
					<hr >
						<li>
							<div class="in-block">
								<p><b>[1] Local-DPP: An improved DNA-binding protein prediction method by exploring local evolutionary information.</b></p>
								<p><b>Leyi Wei</b>, Jijun Tang, and Quan Zou*. </p><p>  Information Sciences, 2017. 384:135-144. </p>
							</div>
						</li>
						<ul class="nav nav-list"><li class="divider"></li></ul>
					</ul>
				</div>
			</div>
			
			
			
		</div>
	</div>
	<!-- //about -->
	



<!-- footer -->
<div class="footer">
	
		<div class="container">
			
			<div class="col-md-2 footer-grids">
				<h3>Global Visitors</h3>
				<script type="text/javascript" src="//rf.revolvermaps.com/0/0/1.js?i=5ft2zulcgk2&amp;s=220&amp;m=0&amp;v=false&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script>

			</div>
			<div class="col-md-1 footer-grids">
				<h3>Recruitment</h3>
				<p>I'm looking for talented and motivated undergraduate and graduate students. If you are interested in Machine Learning, Deep Learning, and Bioinformatics, please feel free to contact with me!</p>
			</div> 
			<div class="col-md-3 footer-grids"> 
				<h3>Contact Us</h3>
				<p> Room 404,Joint SDU-NTU Centre for Artificial Intelligence Research (C-FAIR), Shandong University, Jinan, Shandong, China<br>
					<span>Post code：250101</span>
					</p>
					<p ><img src="../static/images/logo/email.png"></p>
			</div>
			<div class="clearfix"> </div> 
		</div>
	</div>
	<!-- footer -->
	<div class="copyright">
		<div class="container">
			<p>WeiLab	2021 by <a href="wei-group.net/about/">WEIlab</a></p>
		</div>
	</div>
	<!-- //footer -->
<!-- bootstrap-pop-up -->
					<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
										Improve
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								</div>
								<section>
									<div class="modal-body">
										<img src="../static/images/g3.jpg" alt=" " class="img-responsive" />
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!-- //bootstrap-pop-up -->
	<!-- js-scripts -->
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!-- smooth scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- //smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	<!--search jQuery-->
	<script src="../static/js/main.js"></script>
	<!--//search jQuery-->
	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->
	<!-- js-scripts -->
</body>

</html>