<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Gallery</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/gallery.css" />

	<!-- css files -->
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- //css files -->
	<style>
		@media screen and (max-width: 800px) {
    	.in-block {
        	
			display: block;
			width: auto;
			height: auto;
    }
}
	</style>
</head>

<body>
	<!-- banner -->
	<div class="banner-main">
		<div class="banner-2">
			
			<!--header-->
			<div class="header">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<a href="/index"><img src="../static/images/weilab_logo.png"  style="height: 70px;float: left; margin-right:20px"/></a>
						</div>
						<!--navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/home">Home</a></li>
								<li><a href="/publications">Publications</a></li>
								<li><a href="/collaborators">Collaborators</a></li>
								<li><a href="/news">News</a></li>
								<li><a href="/server">Servers</a></li>
								<li><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team <span class="caret"></span></a>
									<ul class="dropdown-menu"  >
										<li><a href="/currentmember">Current Members</a></li>
										<li><a href="/alumni">Alumni</a></li>
										<li><a href="/gallery" class="active">Gallery</a></li>
									</ul>
								</li>
								<!--
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>
									</ul>
								</li>
								-->
								<li><a href="/contact">Contact us</a></li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="cd-main-header">
					<ul class="cd-header-buttons">
						<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
					</ul>
					<!-- cd-header-buttons -->
				</div>
				<div id="cd-search" class="cd-search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="Click enter after typing...">
					</form>
				</div>
			</div>
			<!--//header-->
	</div>
	</div>
	<!-- //banner -->	
<!-- gallery -->
	<section class="agileits-gallery" id="gallery">
		<h3 class="w3l-titles">Lab Party</h3>
		<div id="thumbGrid" data-thumbgrid="true" data-effect="scaleIn" data-delay="60" data-timing="800" data-pagination="6" data-galleryeffectnext="scaleIn"
		    data-galleryeffectprev="scaleOut">
			
			
			<img src="../static/images/3/4.jpg" alt="img04" data-highres="../static/images/3/4.jpg" data-caption="Image caption"/>
			<img src="../static/images/3/聚会1.jpg" alt="img04" data-highres="../static/images/3/聚会1.jpg" data-caption="Image caption"/>
			<img src="../static/images/3/元旦.jpg" alt="img04" data-highres="../static/images/3/元旦.jpg" data-caption="Image caption"/>
			<img src="../static/images/3/聚会0501.jpg" alt="img04" data-highres="../static/images/3/聚会0501.jpg" data-caption="Image caption"/>
			<img src="../static/images/3/聚会0502.jpg" alt="img04" data-highres="../static/images/3/聚会0502.jpg" data-caption="Image caption"/>
		</div>
	</section>
	<div class="about1">
		<ul class="about-list">
			<li><a href="/gallery" class="w3ls_more" data-toggle="modal" >Back</a></li>
		</ul>
	</div>
	<!-- //gallery -->
	
	<!-- footer -->
    <div class="footer">
	
		<div class="container">
			
			
			<div class="col-md-2 footer-grids">
				<h3>Global Visitors</h3>
				<script type="text/javascript" src="//rf.revolvermaps.com/0/0/1.js?i=5ft2zulcgk2&amp;s=220&amp;m=0&amp;v=false&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script>
				 
			</div>
			<div class="col-md-1 footer-grids">
				<h3>Recruitment</h3>
				<p>I'm looking for talented and motivated undergraduate and graduate students. If you are interested in Machine Learning, Deep Learning, and Bioinformatics, please feel free to contact with me!</p>
			</div> 
			<div class="col-md-3 footer-grids"> 
				<h3>Contact Us</h3>
				<p> Room 404,Joint SDU-NTU Centre for Artificial Intelligence Research (C-FAIR), Shandong University, Jinan, Shandong, China<br>
					<span>Post code：250101</span>
					</p>
					<p ><img src="../static/images/logo/email.png"></p>
			</div>
			
			
			<div class="clearfix"> </div> 
		</div>
	</div>
	<!-- footer -->
	
<!-- footer -->
<div class="copyright">
		<div class="container">
			<p>WeiLab	2021 by <a href="wei-group.net/about/">WEIlab</a></p>
		</div>
	</div>
	<!-- footer -->
	
	<!-- //footer -->
<!-- bootstrap-pop-up -->
					<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
										Improve
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
								</div>
								<section>
									<div class="modal-body">
										<img src="../static/images/g3.jpg" alt=" " class="img-responsive" />
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
									</div>
								</section>
							</div>
						</div>
					</div>
					<!-- //bootstrap-pop-up -->
	<!-- js-scripts -->
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!-- smooth scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- //smooth scrolling -->
<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	<!--search jQuery-->
	<script src="../static/js/main.js"></script>
	<!--//search jQuery-->
	<!-- smooth scrolling -->
	<script src="../static/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->
	<!-- js-scripts -->
	<!-- js files for gallery section -->
	<script src="../static/js/jquery.mb.CSSAnimate.min.js"></script>
	<script src="../static/js/jquery.mb.thumbGrid.js"></script>
	<script>
		jQuery(function () {
			jQuery("[data-thumbgrid]").thumbGrid();

			//    customize
			jQuery("#effect").on("change", function () {
				var x = $(this).val();
				jQuery("#thumbGrid").data("effect", x);
			});

			jQuery("#delay").on("change", function () {
				var x = parseFloat($(this).val());
				jQuery("#thumbGrid").data("delay", x);
			});

			jQuery("#timing").on("change", function () {
				var x = parseFloat($(this).val());
				jQuery("#thumbGrid").data("timing", x);
			});
		});
	</script>
	<!-- //js files for gallery section -->


</body>

</html>
